In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [4]:
paths = {
    "orders": "/Users/snigdhajhureley/Desktop/OFI PROJECT /data/orders.csv",
    "vehicle_fleet": "/Users/snigdhajhureley/Desktop/OFI PROJECT /data/vehicle_fleet.csv",
    "warehouse_inventory": "/Users/snigdhajhureley/Desktop/OFI PROJECT /data/warehouse_inventory.csv",
    "routes_distance": "/Users/snigdhajhureley/Desktop/OFI PROJECT /data/routes_distance.csv",
    "delivery_performance": "/Users/snigdhajhureley/Desktop/OFI PROJECT /data/delivery_performance.csv",
    "cost_breakdown": "/Users/snigdhajhureley/Desktop/OFI PROJECT /data/cost_breakdown.csv",
    "customer_feedback": "/Users/snigdhajhureley/Desktop/OFI PROJECT /data/customer_feedback.csv"
}

dfs = {name: pd.read_csv(path) for name, path in paths.items()}
for name, df in dfs.items():
    print(f"\n{name.upper()}  →  {df.shape}")
    display(df.head())

ORDERS  →  (200, 9)

,Order_ID,Order_Date,Customer_Segment,Priority,Product_Category,Order_Value_INR,Origin,Destination,Special_Handling
0,ORD000001,2025-10-09,Individual,Express,Industrial,238.73,Kolkata,Hyderabad,NaN
1,ORD000002,2025-09-29,SMB,Express,Industrial,17.01,Hyderabad,Kolkata,NaN
2,ORD000003,2025-09-15,SMB,Economy,Industrial,3024.95,Mumbai,Pune,NaN
3,ORD000004,2025-10-13,Individual,Economy,Fashion,56.74,Hyderabad,Ahmedabad,NaN
4,ORD000005,2025-09-08,SMB,Standard,Fashion,19148.65,Chennai,Mumbai,NaN

VEHICLE_FLEET  →  (50, 8)

,Vehicle_ID,Vehicle_Type,Capacity_KG,Fuel_Efficiency_KM_per_L,Current_Location,Status,Age_Years,CO2_Emissions_Kg_per_KM
0,VEH0001,Refrigerated,1531.01,5.81,Hyderabad,Available,7.641663,0.465
1,VEH0002,Small_Van,632.66,10.41,Chennai,In_Transit,1.474560,0.259
2,VEH0003,Large_Truck,8903.66,6.13,Bangalore,Available,7.496936,0.441
3,VEH0004,Refrigerated,2545.81,7.14,Bangalore,In_Transit,1.415229,0.378
4,VEH0005,Small_Van,925.24,9.38,Delhi,In_Transit,1.964305,0.288

WAREHOUSE_INVENTORY  →  (35, 7)

,Warehouse_ID,Location,Product_Category,Current_Stock_Units,Reorder_Level,Storage_Cost_per_Unit,Last_Restocked_Date
0,WH001_Mumbai,Mumbai,Electronics,3042,925,18.32,2025-10-06
1,WH001_Mumbai,Mumbai,Fashion,1800,798,13.07,2025-10-07
2,WH001_Mumbai,Mumbai,Food & Beverage,4690,823,10.29,2025-10-04
3,WH001_Mumbai,Mumbai,Healthcare,3418,815,43.83,2025-10-16
4,WH001_Mumbai,Mumbai,Industrial,745,819,28.17,2025-09-29

ROUTES_DISTANCE  →  (150, 7)

,Order_ID,Route,Distance_KM,Fuel_Consumption_L,Toll_Charges_INR,Traffic_Delay_Minutes,Weather_Impact
0,ORD000001,Kolkata-Hyderabad,152.59,23.02,122.08,21,NaN
1,ORD000002,Hyderabad-Kolkata,362.05,43.98,289.64,33,NaN
2,ORD000003,Mumbai-Pune,519.74,65.75,415.79,2,NaN
3,ORD000004,Hyderabad-Ahmedabad,540.87,61.85,432.70,112,NaN
4,ORD000005,Chennai-Mumbai,1251.56,147.54,1001.25,10,NaN

DELIVERY_PERFORMANCE  →  (150, 8)

,Order_ID,Carrier,Promised_Delivery_Days,Actual_Delivery_Days,Delivery_Status,Quality_Issue,Customer_Rating,Delivery_Cost_INR
0,ORD000001,SpeedyLogistics,1,2,Slightly-Delayed,Perfect,3,387.86
1,ORD000002,SpeedyLogistics,2,3,Slightly-Delayed,Minor_Damage,1,430.19
2,ORD000003,SpeedyLogistics,10,15,Severely-Delayed,Minor_Damage,3,1039.19
3,ORD000004,QuickShip,5,5,On-Time,Perfect,5,599.01
4,ORD000005,SpeedyLogistics,4,5,Slightly-Delayed,Perfect,3,537.90

COST_BREAKDOWN  →  (150, 8)

,Order_ID,Fuel_Cost,Labor_Cost,Vehicle_Maintenance,Insurance,Packaging_Cost,Technology_Platform_Fee,Other_Overhead
0,ORD000001,151.36,110.31,53.00,32.17,37.46,43.77,30.38
1,ORD000002,157.32,146.20,51.61,28.54,21.74,48.64,38.74
2,ORD000003,322.61,319.74,128.03,58.13,102.91,92.06,55.45
3,ORD000004,215.33,194.01,60.87,49.68,45.89,50.40,35.12
4,ORD000005,191.92,150.42,79.03,48.92,53.35,48.62,52.98

CUSTOMER_FEEDBACK  →  (83, 6)

,Order_ID,Feedback_Date,Rating,Feedback_Text,Would_Recommend,Issue_Category
0,ORD000002,2025-10-03,1,"Great service, very fast delivery!",Yes,Timing
1,ORD000003,2025-09-30,3,"Perfect condition, thank you",No,Timing
2,ORD000007,2025-10-12,4,"Delayed by 3 days, not acceptable",Yes,Timing
3,ORD000009,2025-09-25,5,Wrong item delivered,Yes,Service
4,ORD000011,2025-09-16,3,"Perfect condition, thank you",No,Timing

In [5]:
for name, df in dfs.items():
    print(f"\n{name.upper()}")
    print(df.info())
    print(df.describe(include='all').T.head())

ORDERS
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          200 non-null    object
 1   Order_Date        200 non-null    object
 2   Customer_Segment  200 non-null    object
 3   Priority          200 non-null    object
 4   Product_Category  200 non-null    object
 5   Order_Value_INR   200 non-null    float64
 6   Origin            200 non-null    object
 7   Destination       200 non-null    object
 8   Special_Handling  47 non-null     object
dtypes: float64(1), object(8)
memory usage: 14.2+ KB
None
                 count unique         top freq mean  std  min  25%  50%  75%  \
Order_ID           200    200   ORD000001    1  NaN  NaN  NaN  NaN  NaN  NaN
Order_Date         200     49  2025-10-14   10  NaN  NaN  NaN  NaN  NaN  NaN
Customer_Segment   200      3         SMB   81  NaN  NaN  NaN  NaN  NaN  NaN
Priority           200      3    Standard   84  NaN  NaN  NaN  NaN  NaN  NaN
Product_Category   200      7     Fashion   34  NaN  NaN  NaN  NaN  NaN  NaN

                  max
Order_ID          NaN
Order_Date        NaN
Customer_Segment  NaN
Priority          NaN
Product_Category  NaN

VEHICLE_FLEET
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Vehicle_ID                50 non-null     object
 1   Vehicle_Type              50 non-null     object
 2   Capacity_KG               50 non-null     float64
 3   Fuel_Efficiency_KM_per_L  50 non-null     float64
 4   Current_Location          50 non-null     object
 5   Status                    50 non-null     object
 6   Age_Years                 50 non-null     float64
 7   CO2_Emissions_Kg_per_KM   50 non-null     float64
dtypes: float64(4), object(4)
memory usage: 3.2+ KB
None
                         count unique          top freq      mean  \
Vehicle_ID                  50     50      VEH0001    1       NaN
Vehicle_Type                50      5  Large_Truck   14       NaN
Capacity_KG               50.0    NaN          NaN  NaN  3276.421
Fuel_Efficiency_KM_per_L  50.0    NaN          NaN  NaN     8.089
Current_Location            50      8    Bangalore   12       NaN

                                  std    min       25%      50%        75%  \
Vehicle_ID                        NaN    NaN       NaN      NaN        NaN
Vehicle_Type                      NaN    NaN       NaN      NaN        NaN
Capacity_KG               2682.713602  23.07  927.0925  2530.61  5400.1075
Fuel_Efficiency_KM_per_L     4.541318   4.21    5.8325     7.08     8.8525
Current_Location                  NaN    NaN       NaN      NaN        NaN

                              max
Vehicle_ID                    NaN
Vehicle_Type                  NaN
Capacity_KG               9951.81
Fuel_Efficiency_KM_per_L    30.81
Current_Location              NaN

WAREHOUSE_INVENTORY
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Warehouse_ID           35 non-null     object
 1   Location               35 non-null     object
 2   Product_Category       35 non-null     object
 3   Current_Stock_Units    35 non-null     int64
 4   Reorder_Level          35 non-null     int64
 5   Storage_Cost_per_Unit  35 non-null     float64
 6   Last_Restocked_Date    35 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.0+ KB
None
                    count unique           top freq         mean          std  \
Warehouse_ID           35      5  WH001_Mumbai    7          NaN          NaN
Location               35      5        Mumbai    7          NaN          NaN
Product_Category       35      7   Electronics    5          NaN          NaN
Current_Stock_Units  35.0    NaN           NaN  NaN  2448.257143  1357.142767
Reorder_Level        35.0    NaN           NaN  NaN        673.2   203.577533

                       min     25%     50%     75%     max
Warehouse_ID           NaN     NaN     NaN     NaN     NaN
Location               NaN     NaN     NaN     NaN     NaN
Product_Category       NaN     NaN     NaN     NaN     NaN
Current_Stock_Units  102.0  1358.0  2582.0  3319.0  4953.0
Reorder_Level        292.0   534.0   708.0   838.0   993.0

ROUTES_DISTANCE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Order_ID               150 non-null    object
 1   Route                  150 non-null    object
 2   Distance_KM            150 non-null    float64
 3   Fuel_Consumption_L     150 non-null    float64
 4   Toll_Charges_INR       150 non-null    float64
 5   Traffic_Delay_Minutes  150 non-null    int64
 6   Weather_Impact         44 non-null     object
dtypes: float64(3), int64(1), object(3)
memory usage: 8.3+ KB
None
                    count unique                top freq         mean  \
Order_ID              150    150          ORD000001    1          NaN
Route                 150     67  Bangalore-Bangkok    7          NaN
Distance_KM         150.0    NaN                NaN  NaN  2003.681667
Fuel_Consumption_L  150.0    NaN                NaN  NaN      240.574
Toll_Charges_INR    150.0    NaN                NaN  NaN   478.541467

                            std     min       25%      50%        75%      max
Order_ID                    NaN     NaN       NaN      NaN        NaN      NaN
Route                       NaN     NaN       NaN      NaN        NaN      NaN
Distance_KM         1356.533965  115.37  933.2775  1627.84  3057.5575  4943.43
Fuel_Consumption_L   162.633791   12.41   115.035   198.12   370.4775   593.91
Toll_Charges_INR     519.119773     0.0       0.0   246.77    969.065  1430.83

DELIVERY_PERFORMANCE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Order_ID                150 non-null    object
 1   Carrier                 150 non-null    object
 2   Promised_Delivery_Days  150 non-null    int64
 3   Actual_Delivery_Days    150 non-null    int64
 4   Delivery_Status         150 non-null    object
 5   Quality_Issue           150 non-null    object
 6   Customer_Rating         150 non-null    int64
 7   Delivery_Cost_INR       150 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 9.5+ KB
None
                        count unique              top freq      mean  \
Order_ID                  150    150        ORD000001    1       NaN
Carrier                   150      5  SpeedyLogistics   41       NaN
Promised_Delivery_Days  150.0    NaN              NaN  NaN  4.433333
Actual_Delivery_Days    150.0    NaN              NaN  NaN  5.513333
Delivery_Status           150      3          On-Time   80       NaN

                             std  min   25%  50%  75%   max
Order_ID                     NaN  NaN   NaN  NaN  NaN   NaN
Carrier                      NaN  NaN   NaN  NaN  NaN   NaN
Promised_Delivery_Days  2.630275  1.0  2.25  4.0  5.0  10.0
Actual_Delivery_Days    3.231009  1.0   3.0  5.0  7.0  15.0
Delivery_Status              NaN  NaN   NaN  NaN  NaN   NaN

COST_BREAKDOWN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Order_ID                 150 non-null    object
 1   Fuel_Cost                150 non-null    float64
 2   Labor_Cost               150 non-null    float64
 3   Vehicle_Maintenance      150 non-null    float64
 4   Insurance                150 non-null    float64
 5   Packaging_Cost           150 non-null    float64
 6   Technology_Platform_Fee  150 non-null    float64
 7   Other_Overhead           150 non-null    float64
dtypes: float64(7), object(1)
memory usage: 9.5+ KB
None
                     count unique        top freq        mean        std  \
Order_ID               150    150  ORD000001    1         NaN        NaN
Fuel_Cost            150.0    NaN        NaN  NaN  200.318333  74.048102
Labor_Cost           150.0    NaN        NaN  NaN  172.941133  63.963641
Vehicle_Maintenance  150.0    NaN        NaN  NaN     71.7028  28.431408
Insurance            150.0    NaN        NaN  NaN     42.9968   17.72249

                       min       25%      50%       75%     max
Order_ID               NaN       NaN      NaN       NaN     NaN
Fuel_Cost            54.22  145.0175   200.48  251.3625   448.0
Labor_Cost           46.81  127.3575  167.355   211.945  358.15
Vehicle_Maintenance  20.23    52.805   67.975    88.285  165.65
Insurance             8.42    29.885   40.785   52.1975  102.08

CUSTOMER_FEEDBACK
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order_ID         83 non-null     object
 1   Feedback_Date    83 non-null     object
 2   Rating           83 non-null     int64
 3   Feedback_Text    83 non-null     object
 4   Would_Recommend  83 non-null     object
 5   Issue_Category   55 non-null     object
dtypes: int64(1), object(5)
memory usage: 4.0+ KB
None
                count unique                             top freq     mean  \
Order_ID           83     83                       ORD000002    1      NaN
Feedback_Date      83     47                      2025-09-20    5      NaN
Rating           83.0    NaN                             NaN  NaN  3.60241
Feedback_Text      83     10  Late delivery but good quality   12      NaN
Would_Recommend    83      2                             Yes   61      NaN

                      std  min  25%  50%  75%  max
Order_ID              NaN  NaN  NaN  NaN  NaN  NaN
Feedback_Date         NaN  NaN  NaN  NaN  NaN  NaN
Rating           1.405041  1.0  3.0  4.0  5.0  5.0
Feedback_Text         NaN  NaN  NaN  NaN  NaN  NaN
Would_Recommend       NaN  NaN  NaN  NaN  NaN  NaN

In [6]:
def clean_columns(df):
    df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
    return df

dfs = {name: clean_columns(df) for name, df in dfs.items()}

In [8]:
date_cols = ["order_date","expected_delivery_date","actual_delivery_date",
             "last_restocked_date","feedback_date"]
for name, df in dfs.items():
    for c in date_cols:
        if c in df.columns:
            df[c] = pd.to_datetime(df[c], errors='coerce')

In [9]:
for name, df in dfs.items():
    print(f"{name}:")
    print(df.isna().mean().sort_values(ascending=False).head(10))

orders:
special_handling    0.765
order_id            0.000
order_date          0.000
customer_segment    0.000
priority            0.000
product_category    0.000
order_value_inr     0.000
origin              0.000
destination         0.000
dtype: float64
vehicle_fleet:
vehicle_id                  0.0
vehicle_type                0.0
capacity_kg                 0.0
fuel_efficiency_km_per_l    0.0
current_location            0.0
status                      0.0
age_years                   0.0
co2_emissions_kg_per_km     0.0
dtype: float64
warehouse_inventory:
warehouse_id             0.0
location                 0.0
product_category         0.0
current_stock_units      0.0
reorder_level            0.0
storage_cost_per_unit    0.0
last_restocked_date      0.0
dtype: float64
routes_distance:
weather_impact           0.706667
order_id                 0.000000
route                    0.000000
distance_km              0.000000
fuel_consumption_l       0.000000
toll_charges_inr         0.000000
traffic_delay_minutes    0.000000
dtype: float64
delivery_performance:
order_id                  0.0
carrier                   0.0
promised_delivery_days    0.0
actual_delivery_days      0.0
delivery_status           0.0
quality_issue             0.0
customer_rating           0.0
delivery_cost_inr         0.0
dtype: float64
cost_breakdown:
order_id                   0.0
fuel_cost                  0.0
labor_cost                 0.0
vehicle_maintenance        0.0
insurance                  0.0
packaging_cost             0.0
technology_platform_fee    0.0
other_overhead             0.0
dtype: float64
customer_feedback:
issue_category     0.337349
order_id           0.000000
feedback_date      0.000000
rating             0.000000
feedback_text      0.000000
would_recommend    0.000000
dtype: float64

In [13]:
merged = dfs["orders"]

# merge only the datasets that share 'order_id'
merge_by_order = ["delivery_performance", "routes_distance", "cost_breakdown", "customer_feedback"]

for name in merge_by_order:
    merged = pd.merge(merged, dfs[name], on="order_id", how="left")

print("After merging order-based data:", merged.shape)

After merging order-based data: (200, 34)

In [14]:
merged.head()
merged.info()
merged.isna().sum().sort_values(ascending=False).head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   order_id                 200 non-null    object
 1   order_date               200 non-null    datetime64[ns]
 2   customer_segment         200 non-null    object
 3   priority                 200 non-null    object
 4   product_category         200 non-null    object
 5   order_value_inr          200 non-null    float64
 6   origin                   200 non-null    object
 7   destination              200 non-null    object
 8   special_handling         47 non-null     object
 9   carrier                  150 non-null    object
 10  promised_delivery_days   150 non-null    float64
 11  actual_delivery_days     150 non-null    float64
 12  delivery_status          150 non-null    object
 13  quality_issue            150 non-null    object
 14  customer_rating          150 non-null    float64
 15  delivery_cost_inr        150 non-null    float64
 16  route                    150 non-null    object
 17  distance_km              150 non-null    float64
 18  fuel_consumption_l       150 non-null    float64
 19  toll_charges_inr         150 non-null    float64
 20  traffic_delay_minutes    150 non-null    float64
 21  weather_impact           44 non-null     object
 22  fuel_cost                150 non-null    float64
 23  labor_cost               150 non-null    float64
 24  vehicle_maintenance      150 non-null    float64
 25  insurance                150 non-null    float64
 26  packaging_cost           150 non-null    float64
 27  technology_platform_fee  150 non-null    float64
 28  other_overhead           150 non-null    float64
 29  feedback_date            83 non-null     datetime64[ns]
 30  rating                   83 non-null     float64
 31  feedback_text            83 non-null     object
 32  would_recommend          83 non-null     object
 33  issue_category           55 non-null     object
dtypes: datetime64[ns](2), float64(17), object(15)
memory usage: 53.2+ KB

weather_impact             156
special_handling           153
issue_category             145
feedback_text              117
rating                     117
feedback_date              117
would_recommend            117
other_overhead              50
technology_platform_fee     50
fuel_consumption_l          50
dtype: int64

In [15]:
num_cols = merged.select_dtypes(include=["int64","float64"]).columns
cat_cols = merged.select_dtypes(include=["object"]).columns

for col in num_cols:
    merged[col].fillna(merged[col].median(), inplace=True)

for col in cat_cols:
    merged[col].fillna("Unknown", inplace=True)

/var/folders/5z/g990ybxx42lf63rlhjk12swr0000gn/T/ipykernel_37554/532058832.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)
/var/folders/5z/g990ybxx42lf63rlhjk12swr0000gn/T/ipykernel_37554/532058832.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)
/var/folders/5z/g990ybxx42lf63rlhjk12swr0000gn/T/ipykernel_37554/532058832.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)
/var/folders/5z/g990ybxx42lf63rlhjk12swr0000gn/T/ipykernel_37554/532058832.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)
/var/folders/5z/g990ybxx42lf63rlhjk12swr0000gn/T/ipykernel_37554/532058832.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)
/var/folders/5z/g990ybxx42lf63rlhjk12swr0000gn/T/ipykernel_37554/532058832.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)
/var/folders/5z/g990ybxx42lf63rlhjk12swr0000gn/T/ipykernel_37554/532058832.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)
/var/folders/5z/g990ybxx42lf63rlhjk12swr0000gn/T/ipykernel_37554/532058832.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)
/var/folders/5z/g990ybxx42lf63rlhjk12swr0000gn/T/ipykernel_37554/532058832.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)
/var/folders/5z/g990ybxx42lf63rlhjk12swr0000gn/T/ipykernel_37554/532058832.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)
/var/folders/5z/g990ybxx42lf63rlhjk12swr0000gn/T/ipykernel_37554/532058832.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)
/var/folders/5z/g990ybxx42lf63rlhjk12swr0000gn/T/ipykernel_37554/532058832.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)
/var/folders/5z/g990ybxx42lf63rlhjk12swr0000gn/T/ipykernel_37554/532058832.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)
/var/folders/5z/g990ybxx42lf63rlhjk12swr0000gn/T/ipykernel_37554/532058832.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)
/var/folders/5z/g990ybxx42lf63rlhjk12swr0000gn/T/ipykernel_37554/532058832.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)
/var/folders/5z/g990ybxx42lf63rlhjk12swr0000gn/T/ipykernel_37554/532058832.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)
/var/folders/5z/g990ybxx42lf63rlhjk12swr0000gn/T/ipykernel_37554/532058832.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)
/var/folders/5z/g990ybxx42lf63rlhjk12swr0000gn/T/ipykernel_37554/532058832.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna("Unknown", inplace=True)

In [16]:
merged["total_cost"] = merged[[
    "fuel_cost","labor_cost","vehicle_maintenance",
    "insurance","packaging_cost","technology_platform_fee",
    "other_overhead"
]].sum(axis=1)

In [17]:
merged["delivery_delay_days"] = merged["actual_delivery_days"] - merged["promised_delivery_days"]

In [18]:
merged["is_delayed"] = (merged["delivery_delay_days"] > 0).astype(int)

In [19]:
merged["cost_per_km"] = merged["total_cost"] / merged["distance_km"]
merged["traffic_delay_hours"] = merged["traffic_delay_minutes"] / 60
merged["priority_encoded"] = merged["priority"].map({
    "Express":3, "Standard":2, "Economy":1
})

In [20]:
print("Rows:", merged.shape[0])
print("Columns:", merged.shape[1])
print("\nNull values remaining:\n", merged.isna().sum().sum())
merged.head(3)

Rows: 200
Columns: 40

Null values remaining:
 117

,order_id,order_date,customer_segment,priority,product_category,order_value_inr,origin,destination,special_handling,carrier,...,rating,feedback_text,would_recommend,issue_category,total_cost,delivery_delay_days,is_delayed,cost_per_km,traffic_delay_hours,priority_encoded
0,ORD000001,2025-10-09,Individual,Express,Industrial,238.73,Kolkata,Hyderabad,Unknown,SpeedyLogistics,...,4.0,Unknown,Unknown,Unknown,458.45,1.0,1,3.004456,0.350000,3
1,ORD000002,2025-09-29,SMB,Express,Industrial,17.01,Hyderabad,Kolkata,Unknown,SpeedyLogistics,...,1.0,"Great service, very fast delivery!",Yes,Timing,492.79,1.0,1,1.361110,0.550000,3
2,ORD000003,2025-09-15,SMB,Economy,Industrial,3024.95,Mumbai,Pune,Unknown,SpeedyLogistics,...,3.0,"Perfect condition, thank you",No,Timing,1078.93,5.0,1,2.075903,0.033333,1

In [21]:
merged.to_csv("/Users/snigdhajhureley/Desktop/OFI PROJECT /data/merged_data_clean.csv", index=False)